@using PagedList.Mvc;
@model PagedList.IPagedList<Models.Goods>

@{
    ViewBag.Title = "所有商品";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/content/wdy/jieguo1.css" rel="stylesheet" />
<link href="~/content/pagedlist.css" rel="stylesheet" />
<style>
    .container{
        width:1190px;
        height:100%;
        margin:auto auto;
    }
</style>
    <div class="container">
        @using (Html.BeginForm("jrgwc", "Mall", FormMethod.Post))
        {
            foreach (var item in Model)
            {
                <div class="jieguo">
                    <a href="@Url.Action("Details", "Goods", new { gid = @item.Goods_id })"><img src="@item.GoodsImage" alt="" /></a>
                    <div class="content">
                        <p class="title" title="@item.GoodsJianjie"><a href="@Url.Action("Details", "Goods", new { gid = @item.Goods_id })">@item.GoodsJianjie</a></p>
                        <p class="price">￥@item.Price &nbsp;&nbsp;<span>￥99.99</span></p>
                        <p class="Name">俞敏洪&nbsp;/&nbsp;@item.AddTime&nbsp;/&nbsp;世界图书出版社&nbsp;&nbsp;<span>数量:@item.Count</span></p>
                        <div class="cart">
                            <button class="car" style="">加入购物车</button>
                            <button class="like">收藏</button>
                        </div>
                    </div>
                </div>
            }
        }
        <div class="row page-list" style="margin:0 auto">
            <div class="col-xs-4 col-sm-6 col-md-6 pagejiye"></div>

            <div class="col-xs-6 col-sm-4 col-md-4 pagejiye">
                @Html.PagedListPager(Model, page => Url.Action("Index", "Goods", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 pageje">
                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
            </div>
        </div>
    </div>
